<!DOCTYPE html>
<html>
  <head>
    <title>Tabela Engenharia</title>
    <meta name='viewport' content='width=device-width'>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class='table-body'>
    <h1><%= header.values[0] %></h1>
    <p><%= header.values[1]%> </p>
      <table style="width:100%">
        <% columns.forEach(function(array){ %>
          <script> var getTd = document.getElementById('td'); </script>
          <tr>
            <%for(let i=0; i< array.length; i++){%>
              <th><%= array[i] %></th>
            <% } %>
          </tr>
          
            <% list.forEach(function(array){ %>
              <tr>
                <td class='td'><%= array.reg %></td>
                <td class='td'><%= array.name %></td>
                <td class='td'><%= array.absence %></td>
                <td class='td'><%= array.t1 %></td>
                <td class='td'><%= array.t2 %></td>
                <td class='td'><%= array.t3 %></td>
                <td class='td'><%= array.situation %></td>
                <td class='td'><%= array.finalGradeApproval %></td>
              </tr>
            <% }) %>
          
        <% }) %>
      </table>
    </div>
  
  </body>
  
</html>
